[Interface]
Address = {{ private_ip }}
PrivateKey = {{ private_key }}
ListenPort = 50069

[Peer]
PublicKey = {{ vps_public_key }}
AllowedIps = 10.0.0.1/32
Endpoint = {{ vps_ip + ":" + vps_port }}
PersistentKeepAlive = 25
